<button type="button" class="editor-sidebar-publish action-secondary">
  <span class="publish">{{t 'app.publish'}}</span>
  <span class="publishing display-none">{{t 'app.publishing'}}</span>
</button>
