<a href="#" class="reset display-none">remove all</a>
<div class="radios">
  <div class="checkbox input">
    <input type="checkbox" name="no-course" id="no-course">
    <div class="icon">
      <i class="icon-checked fa fa-check-square-o"></i>
      <i class="icon-unchecked fa fa-square-o"></i>
    </div>
    <label for="no-course">&lt;none&gt;</label>
  </div>
  {{#each courses}}
    <div class="checkbox input">
      <input type="checkbox" name="{{_id}}" id="{{_id}}"/>
      <div class="icon">
        <i class="icon-checked fa fa-check-square-o"></i>
        <i class="icon-unchecked fa fa-square-o"></i>
      </div>
      <label for="{{_id}}">{{title}}</label>
    </div>
  {{/each}}
</div>
